@model Project
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>@Model.Description</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <a class="btn btn-primary" asp-area="" asp-controller="" asp-action="">
            <span class="fa fa-plus-circle"></span> Add Task
        </a> 
    </div>
</div>

<div class="table-responsive mt-4">
    <table class="table">
        <thead>
            <tr>
                <td>Task</td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Owner</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tasks != null)
            {
                @foreach (ProjectTracker.Data.Models.Task task in Model.Tasks)
                {
                    <tr>
                        <td>@task.Name</td>
                        <td>@task.StartDate</td>
                        <td>@task.EndDate</td>
                        <td>@task.Owner.Forename @task.Owner.Surname</td>
                        <td>@task.Status</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No tasks created</td>
                </tr>
            }
        </tbody>
    </table>
</div>
